{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user.email }} ✅</h1>

    Liste des utilisateurs:
    <table class="table table-hover"  style="max-width:395px">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Roles</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
        {% for reg in registered %}
    <tr class="table-default">
    		<td><a href="{{ path('user-edit',{'id' : reg.id}) }}">{{ reg.email }}</a></td>
    		<td><a href="{{ path('user-edit',{'id' : reg.id}) }}">        {% for role in reg.roles %}
			{{ role }} {% endfor %}</a></td>
    		<td><a href="{{ path('user-edit',{'id' : reg.id}) }}">{{ reg.password }}</a></td>
        	<td><a href="{{ path('user-delete',{'id' : reg.id}) }}">Supprimer</a></td>
    	{% endfor%}
      
    </tr>
  </tbody>
</table> 
{% endblock %}
