{% extends 'base.html.twig' %}
{% block title %}Administration-Actors{% endblock %}
{% block stylesheets %}
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
<style>

</style>
{% endblock %}
{% block body %}

<div class="example-wrapper">
    <h1>Liste des acteurs</h1>
   {% if is_granted('ROLE_USER') %}
   <div class="jumbotron">
    <div class="container">
  			{{ form_start(form) }}
    <div class="form_row">
    	<div class="col">
    	        {{ form_row(form.publish) }}
    	</div>

    	<div class="col">
        <button class="btn btn-success">voir</button>
    	</div>
        </div>
    {{ form_end(form) }}
     
    </div>
    </div>
    {% endif %}
        <p>Cliquez sur un acteur pour voir les détails{% if app.user %}, ou utilisez les boutons dédiés pour modifier/supprimer un acteur{% endif %}</p>
	<div class="actors-container">
			<div class="list">
			{% for actor in actors %}
			<div class="item js-marker" data-lat="{{ actor.lat }}" data-lng="{{ actor.lng }}"  data-name="{{ actor.name }}" data-logo="{{ actor.logo }}">
				<a href="{{ path('actor-view' ,{'id' : actor.id }) }}">
				<h4>{{ actor.name }} <img class="thumbnails" src="{{ actor.logo }}"></h4>
				<p>
         		<em>Catégorie(s) :</em>
                 {% if not actor.categories.empty %}
                          
                            {% for category in actor.categories %}
                            <img class="icon-thumbnails" alt="icone de la catégorie {{ category.name }}" src="{{ asset('uploads/icons/' ~ category.IconName) }}" title="{{ category.name }}">  
                            {% endfor %}
                         
                 {% else %} aucune catégorie associée...
                 {% endif %}
                  </p>
                <p><i class="fas fa-phone"></i> : {{ actor.phone }}</p>
                </a>
				<p><a href="mailto:{{ actor.mail }}"><i class="fas fa-envelope-open-text"></i> : {{ actor.mail }}</a></p>	
         	
             
             {% if app.user %}
			<p class="admin-control">
			<a href="{{ path('actor-update' ,{'id' : actor.id }) }}"><button class="btn btn-warning"><i class='fas fa-edit'></i></button></a>
			<a data-confirm="Etes-vous certain de vouloir supprimer l'acteur {{ actor.id }} ?" href="{{ path('actor-delete' ,{'id' : actor.id }) }}"><button class="btn btn-danger"><i class='fas fa-trash'></i></button></a>
           </p>
        	{% endif %}
             </div>
    	  {% endfor%}
			</div>
          {{ include('map/map-actors.html.twig') }}
    	   {% block javascripts %}
            {{ encore_entry_script_tags('vendor') }}
		    
            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    	  <script>
			

		
				
			


    		
    	  </script>
    </div>	
</div>
{% endblock %}
