{% extends 'base.html.twig' %}
{% block title %}Administration-Actors{% endblock %}
{% block stylesheets %}
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />

{% endblock %}
{% block body %}

<div class="example-wrapper">
    <h1>Liste des acteurs</h1>
    {% if app.user %}<p>Cliquez sur un acteur pour le modifier</p>{% else %}<p>Cliquez sur un acteur pour voir les détails</p>{% endif %}
	<div class="actors-container">
			<div class="list">
			{% for actor in actors %}
			<div class="item js-marker" data-lat="{{ actor.lat }}" data-lng="{{ actor.lng }}"  data-name="{{ actor.name }}">
			<a href="{{ path('actor-view' ,{'id' : actor.id }) }}">
          	
				<h4>{{ actor.name }} <img class="thumbnails" src="{{ actor.logo }}"></h4>
				<p>{{ actor.description }}</p>
         
                 {% if not actor.categories.empty %}
                          <p>
                            {% for category in actor.categories %}
                              {{ category.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                          </p>
                  {% endif %}
             </a>
             </div>
			
			          {% if app.user %}
			<div>
			<a href="{{ path('actor-update' ,{'id' : actor.id }) }}"><button class="btn btn-warning"><i class='fas fa-edit'></i></button></a>
			<a data-confirm="Etes-vous certain de vouloir supprimer l'acteur {{ actor.id }} ?" href="{{ path('actor-delete' ,{'id' : actor.id }) }}"><button class="btn btn-danger"><i class='fas fa-trash'></i></button></a>
           </div>
        	{% endif %}
       	  
    	  {% endfor%}
			</div>
          {{ include('map/map.html.twig') }}
    	   {% block javascripts %}
            {{ encore_entry_script_tags('vendor') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
			<script src="{{ asset('build/vendor.js') }}"></script>    	  
    	  <script>
			

		
				
			


    		
    	  </script>
    </div>	
</div>
{% endblock %}
