{% extends 'base.html.twig' %}
{% form_theme formActor 'bootstrap_4_layout.html.twig' %}
{% block title %} Nouvel Acteur{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}
<style>

</style>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

<div class="container">
           {% if is_granted('ROLE_USER') %}
    <h3>    Remplissez le formulaire suivant pour entrer un nouvel acteur:</h3>
        {% else %}
    <h3>    Remplissez le formulaire suivant pour sousmettre un nouvel acteur:</h3>
        {% endif %}
		
    	{{ form_start(formActor) }}
    	{{ form_row(formActor.name) }}
        {{ form_row(formActor.description) }}
        {{ form_row(formActor.mail) }}
        {{ form_row(formActor.phone) }}
        {{ form_row(formActor.fax) }}
        {{ form_row(formActor.website) }}
        {{ form_row(formActor.logo) }}
<div style="display:flex" "id="search">
		 <div style="width:50%; padding:10px">     
		 		 <b>Adresse / Geolocalisation</b>
		     	 <br>Entrer un nom de Commune*
		        {{ form_row(formActor.address) }}
		 		<button type="button" onclick="addr_search();">Rechercher</button>
				<div id="results"></div>
		</div>
		<div style="width:50%;">
				*Ajuster en déplaçant le point sur la carte<br>
		        {{ include('map/new-entry-map.html.twig') }}
                {{ form_row(formActor.lat) }}
                {{ form_row(formActor.lng) }}
		</div>
		
		 </div>

        
		<br />
        {{ form_row(formActor.categories) }}
               <i class="fab fa-accessible-icon"></i> {{ form_row(formActor.PmrAccess) }}
		
        {% if is_granted('ROLE_USER') %}
        {{ form_row(formActor.publish) }}
        
         <button class="btn btn-success">ajouter</button>
    	{% else %}
		<button class="btn btn-success">soumettre</button>
        {% endif %}
        {{ form_end(formActor) }}
        
  </div>
<script type="text/javascript">


</script>


    	

    
    
{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('marker-create') }}
{% endblock %}
            
            
