{% extends 'base.html.twig' %}
{% block title %}Administration-Category{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}

<div class="example-wrapper">
    <h1>Liste des catégories</h1>
     <div class="grid-4 row">
  	    {% for category in allcategory %}
    	<div class="card-link col" >
    	    {% if is_granted('ROLE_ADMIN') %}
        	<a href="{{ path('category-update',{'id' : category.id}) }}">
        	{% endif %}
            	<div class="card text-white bg-primary mb-3">
              		<div class="card-title"><h4>{{ category.name }}</h4></div>
                 	 	<div class="card-body">
                    	<p class="desc">{{ category.description }}</p>
                    	<p>Icone : <img class="icon" src="{{ asset('uploads/icons/' ~ category.IconName) }}" title="{{ category.Description }}" alt="{{ category.IconName }}"></p>
                  		</div>	
                    {% if is_granted('ROLE_ADMIN') %}
                		<div class="d-flex justify-content-end">
                		<a data-confirm="Etes-vous certain de vouloir supprimer la catégorie {{ category.id }}?" href="{{ path('category-delete',{'id' : category.id}) }}"><button type="button" class="btn btn-warning"><i class="fa fa-trash"></i></button></a>
 						</div>               	
                    {% endif %}	
            	</div>
            </a>	
             
        </div>
    	{% endfor%}
    </div>
</div>
{% endblock %}
